body {
    background-color: #ffb9ff;
}

h1 {
    color: #682bff;
    background-color: #680052;
}

p {
    background-color: #00ffcf;
}

#para {
    background-color: #b58;
    color: #fc9;
}